.Dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  /* box-sizing: border-box; */
  /* padding: 8px; */
  overflow-y: auto;
}

.Dashboard h1,.Dashboard h3 {
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.DashboardMain {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 24px;
  box-sizing: border-box;
  padding: 15px;
}

.DashboardUserInfo {
  width: 20%;
  height: 100%;
  /* background-color: var(--colorMain); */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-left: 1px solid #ccc;
}

.DashboardMainPnlRow {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.DashboardMainPnl {
  width: 90%;
  height: 100%;
  display: flex;
  gap: 8px;
  margin: 0 auto;
}

/* .DashboardMainBestPerformingTradePair{
  width: 70%;
  height: 100%;
  background-color: #f8f7ff;
} */

.DashboardMainTotalPnlDiv {
  font-size: 20px;
  color: #8f7cff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  box-sizing: border-box;
  padding-top: 10px;
}

.DashboardMainTotalPnl,
.DashboardMainWinLossChart,
.DashboardMainBestPerformingTradePair {
  width: 100%;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DashboardMainTotalPnlDiv {
  width: 95%;
  height: 180px;
  border: 1px solid #8f7cff;
  border-radius: 5px;
  background-color: #f8f7ff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.DashboardMainWinLossChartDiv,
.DashboardMainBestPerformingTradePairDiv {
  width: 80%;
  height: 180px;
  border: 1px solid #8f7cff;
  border-radius: 20px;
  background-color: #f8f7ff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.DashboardMainBestPerformingTradePairDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8f7cff;
  height: 85px;
  /* flex-direction: column; */
  gap: 10px;
}

.Best_WorstPerfomingTradeDiv {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bestPerformingTradePairLoss {
  color: red;
}
.bestPerformingTradePairWin {
  color: green;
}

.DashboardMainActivityRow {
  width: 100%;
  margin: 0 auto;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.DashboardMainActivityTable {
  width: 90%;
  height: 100%;
  overflow-y: scroll;
  border: 1px solid #8f7cff;
  background-color: #f8f7ff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 8px 16px;
  margin: 0 auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.DashboardMainActivityRow table th {
  text-align: left;
  color: rgb(98, 68, 210);
  font-size: 14px;
}

.DashboardUserInfoTrader {
  width: 100%;
  height: 50%;
  gap: 40px;
}

.DashboardUserInfoTraderHeader,
.DashboardUserInfoTraderAccountBalancesHeader {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DashboardUserInfoTraderTrades {
  width: 100%;
  height: 90%;
}

.DashboardUserInfoPersonal {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.DashboardUserInfoTraderAccountBalancesDiv {
  width: 100%;
  height: 65%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 10px;
}

.DashboardUserInfoTradesByMonth {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  padding: 10px;
  overflow-y: auto;
  border-top: 1px solid #ccc;
  /* background-color: #f8f7ff; */
  /* background-color: #8f7cff; */
}

.DashboardUserInfoTradesByMonthTrHeading {
  color: #8f7cff;
}


.DashboardUserInfoTradesByMonth table {
  width: 100%;
}

.DashboardUserInfoTradesByMonth table td{
  font-size: 12px;
}

.DashboardUserInfoTradesByMonth table th {
  text-align: left;
}

.DashboardUserInfoTradesByMonthHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 5px;
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
  .DashboardMain {
    min-height: 150vh;
  }
  .DashboardMainPnl {
    flex-direction: column;
    gap: 30px;

  }
  .DashboardMainPnlRow {
    min-height: 85vh;
    justify-content: space-around;
  }

  .DashboardMainTotalPnlDiv {
    height: auto;
  }

  .DashboardMainActivityTable table tr td {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .DashboardMain {
    width: 100%;
  }
  .DashboardUserInfo {
    display: none;
  }
}
@media screen and (max-width: 576px) {
}
